<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <Directory Id="TARGETDIR" Name="SourceDir">

      <!-- <Directory Id="ProgramFilesFolder"> -->
      <?if $(var.Platform)=x64?>
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="OutlookReportsAddIn" />
      </Directory>
      <?else?>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="OutlookReportsAddIn" />
      </Directory>
      <?endif?>

      <Component Id="Registry_FriendlyName">
        <RegistryValue Id="RegKey_FriendlyName" Root="HKCU"
                       Key="Software\Microsoft\Office\Outlook\AddIns\OutlookReportsAddIn"
                       Name="FriendlyName"
                       Value="Outlook Add-In report generator"
                       Type="string" KeyPath="yes" />
      </Component>
      
      <Component Id="Registry_Description">
        <RegistryValue Id="RegKey_Description" Root="HKCU"
                       Key="Software\Microsoft\Office\Outlook\AddIns\OutlookReportsAddIn"
                       Name="Description"
                       Value="Generate reports in doc format"
                       Type="string" KeyPath="yes" />
      </Component>
      
      <Component Id="Registry_Manifest">
        <RegistryValue Id="RegKey_Manifest" Root="HKCU"
                       Key="Software\Microsoft\Office\Outlook\AddIns\OutlookReportsAddIn"
                       Name="Manifest" Value="[INSTALLFOLDER]OutlookReportsAddIn.vsto|vstolocal"
                       Type="string" KeyPath="yes" />
      </Component>
      
      <Component Id="Registry_LoadBehavior">
        <RegistryValue Id="RegKey_LoadBehavior" Root="HKCU"
                       Key="Software\Microsoft\Office\Outlook\AddIns\OutlookReportsAddIn"
                       Name="LoadBehavior" Value="3"
                       Type="integer" KeyPath="yes" />
      </Component>
    </Directory>
  </Fragment>

</Wix>
